*
{
    margin: 0;
    padding: 0;
}
/*--Nav--*/
#nav-bar
{
   width: 120;
    position: sticky;
    top: 0;
    z-index: 10;

}
.navbar-brand
{
    font-size: 24px;
    font-weight: 700;
}
.navbar-brand img
{
    height: 45px;
    padding-left: 15px;
    padding-right: 10px;

}
.navbar .fa
{
    margin: 8px;
}
.container-fluid
{
    text-align: left;
}
.nav-link
{
    font-weight: 600;
    font-size: 18px;
}
/*--Carousel--*/
#slider{
    width: 100%;
}
#About{
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 20px;
    color: #555;
    text-align: center;
}
.txt1 h2
{
    margin-bottom: 1.5rem;
}
#team{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #333;
}
h1{
    text-align: center;
    color: #555;
    padding-bottom: 10px;
}
#team h1::after
{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
/*contact*/
.titre88
{
    text-align: center;
    color: #555;
    margin-bottom: 30px;
}
#Contacter
{
    padding-top: 70px;
    padding-bottom: 400px;
    background-color: rgb(219, 217, 217); 
}
.contact-form
{
    padding:15px;
}
.form-control
{
    border-radius: 0;
    border: none;
}
.tamere
{
    text-align: right;
}
.col-md-6-66
{
    margin: 0px;
}
.follow
{
    background: #fff;
    padding: 10px;
    margin: 15px;
}
.col-md-6-contact-info .fa
{
    margin: 10px;
    font-weight: bold;
}
.form-group{
    
    margin:10px;
}
.img-box img{
    height: 270px;
    width: 240px;
    margin: 25px;
    margin-right: 10px;
}
.row h2,h3,h4
{
    color: rgb(151, 148, 148);
}
.spe1 .col-md-3
{
 margin-left: 400px;
 margin-top: 30px;
}
/*--redirection--*/
.button-redirect
{
    padding: 40px;
}
.button-redirect button
{
    height: 70px;
    width: 350px;
    font-size: 25px;
}
/*--footer--*/
.footer
{
    text-align: center;
    padding: 40px;
    background: #fff;
}